<!DOCTYPE html>
<html>
<head>
    <title>Thyme Leaf Spring Boot </title>
</head>
<body>
<h1 style="background-color:Tomato;">Bihar Gas Agency!</h1>
<h1>Expense Management Software</h1>
<p>This is an article to use Thyme Leaf with Spring Boot.</p>
<label for="dropdown">Select an option:</label>
<select id="dropdown">
    <option value="option1">Option 1</option>
    <option value="option2">Option 2</option>
    <option value="option3">Option 3</option>
    <option value="option4">Option 4</option>
</select>
</body>
</html>