<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Thyme Leaf Spring Boot </title>
</head>
<body style="background-color:powderblue;">
    <h1 style="text-align:center;">Bihar Gas Agency!</h1>
    <h2 style="text-align:center;">Expense Management Software</h2>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <font COLOR="RED" size="5">
       <a href="Sell.html">
    		<button>SELL</button></a>&nbsp;&nbsp;
       <a href="other expinditure">
         <button>OTHER EXPENDITURE</button></a>&nbsp;&nbsp;
       <a href="report.html">
           <button>REPORT</button></a>&nbsp;&nbsp;
       <a href="vendor.html">
            <button>VENDOR</button></a>&nbsp;&nbsp;
          
       </font>
    
   
      
        
</body>
</html>