<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Thyme Leaf Spring Boot </title>
</head>
<body style="background-color:powderblue;">
<form action="/action_page.php">
  <label for="date">START DATE:</label>
  <input type="date" id="date" name="date">
     <input type="submit">
     <br><br><br>
      <label for="date">END DATE:</label>
  <input type="date" id="date" name="date">
     <input type="submit">
     <br><br><br>
      <label for="paymentstatus">PAYMENT STATUS:</label>
  <select name="paymentstatus" id="paymentstatus">
    <option value="successful">successful</option>
    <option value="pending">pending</option>
     </select>
      
      
     
     
     
     
     
     
                                                 
                                                 
                                                 
 </form> 
      </body>
</html>                                                
                                                 
                                                 