<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Thyme Leaf Spring Boot </title>
</head>
<body style="background-color:powderblue;">
<form action="/action_page.php">
  <label for="date">DATE:</label>
  <input type="date" id="date" name="date">
     <input type="submit">
     <br><br><br>
      <label for="weight">WEIGHT:</label>
  <select name="weight" id="date">
    <option value="14">14</option>
    <option value="19">19</option>
    <option value="5">5</option>
     </select>
      <br><br><br>
      <label for="type">TYPE:</label>
  <select name="type" id="type">
    <option value="home delivery">HOME DELIVERY</option>
    <option value="office">OFFICE DELIVERY</option>
      </select>
       <br><br><br>
   <label for="count">COUNT:</label>
  <input type="count" id="count" name="date">
    <br><br><br>
   <label for="count">CYLINDER COUNT:</label>
  <input type="count" id="count" name="date">   
   <br><br><br>
   <label for="total">TOTAL:</label>
  <input type="total" id="total" name="total">         
      
      
     
     
     
     
     
     
                                                 
                                                 
                                                 
 </form> 
      </body>
</html>                                                
                                                 
                                                 
                                                 
                                                 
                                                 
                                           
     
     
     
     
     
     
     
     
      
